<section id="cover">

		<div class="row">
			<div class="col-md-6">
				<h1>Project<br />Proposal</h1>
			</div>
			<div class="col-md-6">
				<a href="#" class="btn btn-lg btn-info">
					<i class="fa fa-file-pdf-o"></i>
					Download Proposal as a PDF</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>Prepared for:</p>
				<ul class="list-unstyled">
					<li class="name">Jane Doe</li><br />
					<li>Jane Doe Collective</li>
					<li>janedoe@email.com</li>
				</ul>
			</div>
			<div class="col-md-6">
				<p>By:</p>
				<ul class="list-unstyled">
					<li class="name">Dean Dowd</li><br />
					<li>(503) 841-8545</li>
					<li>deandowd@gmail.com</li>
				</ul>
			</div>
			
		</div>


		<div class="row nondisclose">
			<p><span>Confidentiality Agreement:</span> Information, data and drawings embodied in this business proposal are strictly confidential and are supplied on the understanding that they will be held confidentially and not disclosed to third parties without the prior written consent of Dean Dowd.</p>
		</div>
	
</section>


<section id="problem">
	<h2>Problem</h2>
		<div class="row">
			<p>The Ad Agency has access to new business in the space chimp exploration niche but needs help getting rockets. To solve this problem <strong>the Ad Agency website application will allow rocket scientists to apply to the Ad Agency</strong>.</p>

			<p>The proposed solution is the first iteration of what will be an ongoing process for the Ad Agency using Lean UX principles.</p>
		</div>
</section>

<section id="solution1">
	<h2>Solution 1</h2>
			<div class="row">
				<div class="col-md-6">
					<p>This solution is the leanest solution to quickly develop an attractive functioning asset to generate new business and begin branding. Solution 1 is more of a website than an application featuring a completely custom design, with a vectorized logo, contact, about and services pages.</p>
					<p>There will be a strong call-to-action to get new sign-ups. Get this solution and begin doing business right away!
					<p><em>Turn-around time is 8-16 weeks.</em></p>
				</div>
				<div class="col-md-6">
					<table class="table table-striped">
						<thead>
			        <tr>
			          <th>Solution #1 Pricing</th>
			          <th></th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>Custom Web Design</td>
			          <td>$2,000</td>
			        </tr>
			        <tr>
			          <td>Vectorized Logo</td>
			          <td>$300</td>
			        </tr>
			        <tr>
			          <td>Responsive Framework</td>
			          <td>$3,000</td>
			        </tr>
			        <tr>
			          <td>MailChimp Integration</td>
			          <td>$60</td>
			        </tr>
			        <tr>
			          <td>Contact Form</td>
			          <td>$60</td>
			        </tr>
			        <thead>
			        <tr>
			          <th>Total</th>
			          <th>$5,420</th>
			        </tr>
			      </thead>
			      </tbody>
 					</table>
				</div>
			</div>
	</section>


		
		<section id="solution2">
					<HR><h2>Solution 2</h2>
				<div class="row">
					
					<p>Website application that features map on homepage. The map is a unique way to show personality and stand out from the crowd. Users can scroll through the page, which will be parallax (javascript), and find local spots that inspire the creative talent. </p>
					<p>Morbi pretium et elit ut rhoncus. Pellentesque mi nunc, tempus vitae erat eget, dictum malesuada ligula. Vivamus malesuada ullamcorper enim vel imperdiet. Nam elementum facilisis massa. Nullam eu urna tortor. Integer tempor justo nec orci egestas semper. Phasellus sed mauris cursus, consectetur quam eleifend, vestibulum nisi. Quisque volutpat ex eget tellus feugiat accumsan quis in quam.</p>

					<p>Aliquam tincidunt dolor nec sapien feugiat, eget gravida tellus sagittis. Aenean semper nulla at ex fringilla, in sollicitudin risus semper. In auctor dictum diam, id pellentesque massa viverra in. Vestibulum tristique sapien ut mauris varius condimentum.</p>

					<p>The interactive map with parallax scroll!</p>
					
					<p>Included on this application will be a Homepage, About, Services, Contact, and CTA Modal.</p>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p><img src="/assets/prototype.jpg" class="center-block"></p>
					</div>
					<div class="col-md-6">
						<table class="table table-striped">
							<thead>
				        <tr>
				          <th>Solution #2 Pricing</th>
				          <th></th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
				          <td>Custom Web Design</td>
				          <td>$2,500</td>
				        </tr>
				        <tr>
				          <td>Vectorized Logo</td>
				          <td>$300</td>
				        </tr>
				        <tr>
				          <td>Responsive Framework</td>
				          <td>$3,500</td>
				        </tr>
				        <tr>
				          <td>Parallax Scroll Homepage</td>
				          <td>$2,400</td>
				        </tr>
				        <tr>
				          <td>Google Maps API Custom Theme</td>
				          <td>$3,600</td>
				        </tr>
				        <tr>
				          <td>CTA Modal</td>
				          <td>$400</td>
				        </tr>
				        <tr>
				          <td>Development</td>
				          <td>$700</td>
				        </tr>
				        <tr>
				          <td>Data Entry</td>
				          <td>$300</td>
				        </tr>
				        <thead>
				        <tr>
				          <th>Total</th>
				          <th>$14,700</th>
				        </tr>
				      </thead>
				      </tbody>
	 					</table>
					</div>
			</div>

		</section>

 <section id="cta">
		<h2>Ready to start building?</h2>
		<p>Send a message with any questions you may have.</p>
		<p><a href="#" class="btn btn-lg btn-info">Let's get started!</a></p>		
</section>
<section id="aboutme">
		<div class="row">	
			<h3>About Us</h3>
			<img src="/assets/dean.jpg" class="img-circle">
			<p>Our clients range from FTSE 300 companies, to large charitable organisations and some small local businesses who are striving to expand. Most of our clients use our Data Analysis service to inform their strategic decision making and their targets for the immediate, mid-term and long-term future. The data sources that we use for this type of analysis include customer enquiry data, sales figures, costs, market data and customer feedback.</p>
			<p>To see a detailed list of our clients and some of their feedback on using us please see <a href="#">our testimonials page</a>.</p>
		</div>
</section>
<section id="footer">
		<div class="row">
			<div class="col-md-6">
	 			<ul>
			 		<li>Project Proposal<br/>
			 			<span>Ad Agency</span>
			 		</li>
			 	</ul>
	 		</div>
	 		<div class="col-md-offset-1 col-md-4">
	 			<ul>
			 		<li>by Dean Dowd
			 			<span><a href="http://www.deandowd.com">DeanDowd.com</a></li>
			 	</ul>
	 		</div>
 		</div>
	</section>
