<section id="cover">

		<div class="row">
			<h1>Project<br />Proposal</h1>
		
		
			<div class="col-md-6">
				<p>Prepared for:</p>
				<ul class="list-unstyled">
					<li class="name">Chris Richards</li><br />
					<li>Cellar Door Collective</li>
					<li>crichards@startupgrind.com</li>
				</ul>
			</div>
			<div class="col-md-6">
				<p>By:</p>
				<ul class="list-unstyled">
					<li class="name">Dean Dowd</li><br />
					<li>(503) 841-8545</li>
					<li>deandowd@gmail.com</li>
				</ul>
			</div>
		</div>
		<!-- <div class="row nondisclose">
			<p><span>Confidentiality Agreement:</span> Information, data and drawings embodied in this business proposal are strictly confidential and are supplied on the understanding that they will be held confidentially and not disclosed to third parties without the prior written consent of Dean Dowd.</p>
		</div> -->
	
</section>


<section id="problem">
	<h2>Problem</h2>
		<div class="row">
			<p>Cellar Door Collective (CDC) has access to new business in the creative space however needs local talent to fulfill the jobs. To solve this problem <strong>the Cellar Door Collective website application will allow local talent to apply to the Collective</strong>.</p>

			<p>The proposed solution is the first iteration of what will be an ongoing process for Cellar Door Collective using Lean UX principles.</p>
		</div>
</section>

<section id="solution1">
	<h2>Solution 1</h2>
			<div class="row">
				<div class="col-md-6">
					<p>This solution is the leanest solution to quickly develop an attractive functioning asset to generate new business and begin branding. Solution 1 is more of a website than an application featuring a completely custom design, with a vectorized logo, contact, about and services pages.</p>
					<p>There will be a strong call-to-action for local talent to apply. Get this solution and begin doing business right away!
					<p><em>Turn-around time is 8-16 weeks.</em></p>
				</div>
				<div class="col-md-6">
					<table class="table table-striped">
						<thead>
			        <tr>
			          <th>Solution #1 Pricing</th>
			          <th></th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>Custom Web Design</td>
			          <td>$1,920</td>
			        </tr>
			        <tr>
			          <td>Vectorized Logo</td>
			          <td>$300</td>
			        </tr>
			        <tr>
			          <td>Responsive Framework</td>
			          <td>$2,880</td>
			        </tr>
			        <tr>
			          <td>MailChimp Integration</td>
			          <td>$60</td>
			        </tr>
			        <tr>
			          <td>Contact Form</td>
			          <td>$60</td>
			        </tr>
			        <thead>
			        <tr>
			          <th>Total</th>
			          <th>$5,220</th>
			        </tr>
			      </thead>
			      </tbody>
 					</table>
				</div>
			</div>
	</section>


		
		<section id="solution2">
					<HR><h2>Solution 2</h2>
				<div class="row">
					
					<p>Website application that features interactive map on homepage. The map is a unique way to show personality and stand out from the crowd. Users can scroll through the page, which will be parallax (javascript), and find local spots that inspire the Collective's creative talent. </p>
					<p>When the user hovers over a marker on the map, for instance the Fresh Pot Coffee Shop, a window will show the artist's picture and a little information about them. Also included in the window that opens is a link to the artist's profile that includes a bio and portfolio of their work.</p>

					<p>The map itself will be a watercolor rendering provided by the Collective which will be used in a custom theme for Google's Map API. Here is an example of an <a href="http://maps.stamen.com/watercolor/#12/37.7706/-122.3782">interactive watercolor map of San Francisco</a>. Pricing based on this element is clearly speculative at this point and will depend on the accuracy of rendering.</p>

					<p>The interactive map with parallax scroll is a great introduction to Portland creatives!</p>
					
					<p>Included on this application will be a Homepage, About, Services, Contact, Artist Profile and CTA Modal.</p>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p><img src="/assets/prototype.jpg" class="center-block"></p>
					</div>
					<div class="col-md-6">
						<table class="table table-striped">
							<thead>
				        <tr>
				          <th>Solution #2 Pricing</th>
				          <th></th>
				        </tr>
				      </thead>
				      <tbody>
				        <tr>
				          <td>Custom Web Design</td>
				          <td>$2,400</td>
				        </tr>
				        <tr>
				          <td>Vectorized Logo</td>
				          <td>$300</td>
				        </tr>
				        <tr>
				          <td>Responsive Framework</td>
				          <td>$3,480</td>
				        </tr>
				        <tr>
				          <td>Parallax Scroll Homepage</td>
				          <td>$2,400</td>
				        </tr>
				        <tr>
				          <td>Google Maps API Custom Theme</td>
				          <td>$3,600</td>
				        </tr>
				        <tr>
				          <td>CTA Modal</td>
				          <td>$480</td>
				        </tr>
				        <tr>
				          <td>Development</td>
				          <td>$780</td>
				        </tr>
				        <tr>
				          <td>Data Entry</td>
				          <td>$360</td>
				        </tr>
				        <thead>
				        <tr>
				          <th>Total</th>
				          <th>$13,800</th>
				        </tr>
				      </thead>
				      </tbody>
	 					</table>
					</div>
			</div>

		</section>

 <section id="cta">
		<h2>Ready to start building?</h2>
		<p>Send me a message with any questions you may have.</p>
		<p><a href="mailto:deandowd@gmail.com" class="btn btn-lg btn-info">Let's get started!</a></p>		
</section>
<section id="aboutme">
		<div class="row">	
			<h3>About Me</h3>
			<img src="/assets/dean.jpg" class="img-circle">
			<p>I have worked in design and marketing agencies for over 15 years and understand what it takes to make lasting impressions with website users. It takes an understanding that you get one shot to wow a customer and you need to make it count. Understanding and expecting wow results is what makes me different from the rest.</p>
			<p>Given the chance I will work with you closely and always be transparent so that no time is lost and there is no confusion. My goal is to give you the best customer service that is humanly possible.</p>
			<p>Take your time reading this proposal and <a href="mailto:deandowd@gmail.com">contact me</a> if you have questions.</p>
		</div>
</section>
<section id="footer">
		<div class="row">
			<div class="col-md-6">
	 			<ul>
			 		<li>Project Proposal<br/>
			 			<span>Cellar Door Creative</span>
			 		</li>
			 	</ul>
	 		</div>
	 		<div class="col-md-offset-1 col-md-4">
	 			<ul>
			 		<li>by Dean Dowd
			 			<span><a href="http://www.deandowd.com">DeanDowd.com</a></li>
			 	</ul>
	 		</div>
 		</div>
	</section>
